<p>&emsp;<a href="/meals/<%= @user.slug %>">Home</a>
&emsp;<a href="/meals/show/<%= @user.slug %>">Meal List</a></p>
<h4>Days and Meal Items:</h4>

<ul><% @user.days.sort_by { |d| d.date }.reverse.each do |day| %>
  <li><%= day.date %> - <%= day.meal_time %>
  <font size=1><a href="/days/<%= day.date_slug %>/<%= day.user.slug %>/edit">edit</a></font></li>
    <% day.meals.each do |meal| %>
      <font size=2><i><%= meal.name %> - <%= meal.calories %></i></font>
      <br>
    <% end %>
    <br>
<% end %></ul>
