<br>
<p class="indent">
Day: <i><%= @date.strftime("%b %e, %Y") %></i>
- Calories: <b><i><%= @total_calories_today %></b></i>
</p>
<p>
  <br>
  Last 7 days
  - Calories: <b><i><%= @total_week_calories %></b></i>
</p>
<br>
&emsp;<a href="/meals/show/<%= @user.slug %>">Meal List</a>
&emsp;<a href="/days/show/<%= @user.slug %>">Day List</a>
