<p>&emsp;<a href="/meals/<%= @user.slug %>">Return</a>
&emsp;<a href="/days/list/<%= @user.slug %>">Day List</a></p>
List of Meal Items and Times:
<br></br>
<ul><% @user.meals.sort_by { |m| m.name }.each do |meal| %>
  <li><%= meal.name %> - <%= meal.calories %> calories</li>
    <% meal.days.sort_by { |d| d.date}.reverse.each do |day| %>
      <%= day.date %> - <%= day.meal_time %>
      <br>
    <% end %>
    <br>
<% end %></ul>
